* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo img {
    width: 20%;
    margin-right: 10px;
    border-radius: 50%;

}

.right-section {
    display: flex;
    align-items: center;
}



.help-icon {
    align-items: center;
}

.help-icon a  img{
    text-decoration: none;
    width: 40px;
    vertical-align: middle;
    margin-left: 15px;
    cursor: pointer;

}


nav a {
    text-decoration: none;
    color: #68bb62;
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
    font-size: 17px;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #68bb62;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.date-picker input[type="date"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
}

.calendar-icon img {
    width: 30px;
    margin-left: 10px;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 4px;
    width: 200px;
}


.cases {
    padding: 20px;
}

.case {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.case-id {
    font-size: 18px;
    font-weight: bold;
}

.download-btn {
    padding: 10px 20px;
    background-color: #fdfdfd;
    color: #4CAF50;
    border: none;
    border-radius: 4px;
    text-decoration: none;
}

.download-btn:hover {
    background-color: #4CAF50;
    color: white;
}
