* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    border-bottom: 2px solid #ddd;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo img {
    width: 20%;
    margin-right: 10px;
    border-radius: 50%;
}

.right-section {
    display: flex;
    align-items: center;
}

.help-icon {
    margin-right: 20px;
}

.help-icon img {
    width: 40px;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    background-color: #ff6600;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #ddd;
}

.faq-chat-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.faq-section, .chat-section {
    background-color: #4682b4;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 45%;
}


.faq-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.add-icon {
    font-size: 24px;
    cursor: pointer;
    margin-left: 10px;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-item label {
    display: block;
    margin-bottom: 5px;
}

.faq-item select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: none;
}


.chat-bubble {
    background-color: #fff;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: fit-content;
    max-width: 80%;
    position: relative;
}

/* Alineación a la izquierda */
.chat-bubble.left {
    align-self: flex-start;
    margin-left: 0;
}

/* Alineación a la derecha */
.chat-bubble.right {
    align-self: flex-end;
    margin-left: auto;
}

.chat-keyboard {
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}

.keyboard-row button {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.keyboard-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.keyboard-controls button {
    padding: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.keyboard-controls img {
    width: 20px;
}
