header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-link1 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #4CAF50;
    font-size: 17px;
}

.nav-link2 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.nav-link3 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}

.nav-link1:hover {
    color: #4CAF50;
    /* Color verde como el de "INICIO" */
}


.logo {
    width: 100px;
    height: auto;
}

.icon {
    width: 20px;
    height: auto;
}

#color1{
    background-color: aqua;
    border-radius: 15px;
}
#color1 p{
    text-align: left;
}