body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo para que el diseño ocupe toda la ventana */
    height: 100vh; /* Establece la altura del cuerpo al 100% de la altura de la ventana */
    display: grid; /* Utiliza CSS Grid Layout para organizar los elementos en un diseño de cuadrícula */
    grid-template-rows: 1fr 0.5fr 5fr 0.8fr 0fr; /* Define la altura de las filas de la cuadrícula en proporciones de la ventana */
    grid-template-columns: 1fr; /* Define que solo habrá una columna en la cuadrícula */
}

/* Estilo para el primer bloque (azul) */
.box1 {
    background-color: #2980b9; /* Establece el color azul */
}

/* Estilo para el segundo bloque (rojo) */
.box2 {
    background-color: #c0392b; /* Establece el color rojo */
}

/* Estilo para el tercer bloque (púrpura) */
.box3 {
    background-color: #8e44ad; /* Establece el color púrpura */
}

/* Estilo para el cuarto bloque (naranja) */
.box4 {
    background-color: #e67e22; /* Establece el color naranja */
}

/* Estilo común para todos los bloques */
.box {
    border: 2px solid black; /* Establece un borde negro de 2px alrededor de cada bloque */
}
