/* Estilo para el contenedor con fondo negro */
#negro {
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: #000; /* Fondo negro */
    border: 7px solid black; /* Borde negro */
}

/* Estilo para el contenedor con fondo rojo */
#rojo {
    position: absolute;
    top: 20%;
    left: 0;
    height: 10%;
    width: 100%;
    background-color: #f00; /* Fondo rojo */
    border: 7px solid black; /* Borde negro */
}

/* Estilo para el contenedor con fondo verde */
#verde {
    position: absolute;
    top: 30%;
    left: 0;
    height: 50%;
    width: 25%;
    background-color: rgba(126, 216, 8, 0.849); /* Fondo verde */
    border: 7px solid black; /* Borde negro */
}

/* Estilo para el contenedor con fondo azul */
#azul {
    position: absolute;
    top: 30%;
    left: 25%;
    height: 50%;
    width: 50%;
    background-color: #00f; /* Fondo azul */
    border: 7px solid black; /* Borde negro */
}

/* Estilo para los contenedores con fondo morado */
#morado1, #morado2, #morado3 {
    position: absolute;
    width: 25%;
    height: 16.67%; /* Cada uno ocupa un tercio de la altura del contenedor padre */
    background-color: #909; /* Fondo morado */
    border: 7px solid black; /* Borde negro */
}

/* Posicionamiento de los contenedores morados */
#morado1 {
    top: 30%;
    left: 75%;
}

#morado2 {
    top: 46.67%;
    left: 75%;
}

#morado3 {
    top: 63.34%;
    left: 75%;
}

/* Estilo para el contenedor con fondo naranja */
#naranja {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: #f80; /* Fondo naranja */
    border: 7px solid black; /* Borde negro */
}
