html, body {
    margin: 0;
    height: 100%;
    width: 100%;

}
*/ margin  Elimina márgenes predeterminados
height  y width  Hacen que el htmll y bodyy ocupen toda la ventana dell navegador*/




.container {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100%;
    width: 100%;
    gap: 2px;
   
}
*/display grid Usa una cuadrícula para el diseño
grid-template-rows   Define tres filas con diferentes alturas
grid-template-columns  Define tres columnas con diferentes anchos
height y width  Hace que el contenedor ocupe toda la ventana
gap  Añade un espacio de  píxeles entre las celdas*/




.header {
    grid-column: 1 / span 3;
    background-color: #007bff;
}

*/grid-column  spannnnn  Hace que el encabezado ocupe todo el ancho
background-color Color de fondo azul*/



.left, .right {
    background-color: #6f42c1;

}
*/background-color Color de fondo púrpura para ambos lados*/



.center {
    background-color: #dc3545;
}
*/background-color Color de fondo rojo para el centro*/



.footer {
    grid-column: 1 / span 3;
    background-color: #fd7e14;


}

