
body {
    font-family: Arial, sans-serif;
    background: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*headerrr*/
header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-link1 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #4CAF50;
    font-size: 17px;
}
.nav-link2 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.nav-link3 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.nav-link1:hover {
    color: #4CAF50;
}


.logo {
    width: 100px;
    height: auto;
}

.icon {
    width: 20px;
    height: auto;
}

/* Contenedor del formulario */
.container {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


label {
    display: block;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    color: #555;
}


input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button {
    background: #5cb85c;
    color: white;
    font-size: 18px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    width: 100%;
    transition: 0.3s;
}

button:hover {
    background: #4cae4c;
}
