* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url();
}

/*headerrr*/
header {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 0 15px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-link1 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #4CAF50;
    font-size: 17px;
}
.nav-link2 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.nav-link3 {
    padding-right: 40px;
    padding-left: 40px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.nav-link1:hover {
    color: #4CAF50; /* Color verde como el de "INICIO" */
}


.logo {
    width: 100px;
    height: auto;
}

.icon {
    width: 20px;
    height: auto;
}

/* barra de busqueda*/
/* Barra de búsqueda */
.search-container {
    display: flex;
    align-items: center;
    background-color: #444;
    padding: 8px;
    border-radius: 5px;
    margin: 20px;
    max-width: 300px;
}

.search-container i {
    color: white;
    margin: 0 10px;
}

.search-input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

#resEnviar {
    background-color:white;
    color: #77c04b;
    border-radius: 5px;
    border-color: #77c04b;
    font-size: medium;
    font-family: Georgia, Times, 'Times New Roman', serif;
    width: 80px;
}

/* Contenedor de resultados */
.results-container {
    margin: 3%;
}

.result-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    border-bottom: 2px solid #444;
}

.result-item span {
    font-weight: bold;
}

.icons i {
    margin-left: 10px;
    cursor: pointer;
}

.icons i:hover {
    color: #77c04b;
}