*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: url('../IMG/tipos-de-donaciones.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 60px;
}
.container {
    background: rgba(255, 255, 255); /* Ajusta el último valor (0.3) para más transparencia */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    width: 450px;
    text-align: center;
    position: relative;
}
.bienvenida {
    position: absolute;
    left: 10%;
    font-size: 60px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, select, button {
    margin: 10px -16px;
    padding: 15px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    background: #28a745;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #218838;
}
.link-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}
.link {
    color: #007bff;
    text-decoration: none;
    font-size: 20px;
}
.link:hover {
    text-decoration: underline;
}
.password-container {
    position: relative;
    width: 100%;
}
.toggle-password {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}